/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "node_modules/primeng/resources/themes/fluent-light/theme.css";

/* Order */
@layer reset, primeng;

body {
  margin: 0;
  background-color: rgb(249, 249, 249);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #062a30;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1.25rem;
  gap: 1.25rem;
  color: rgba(255, 255, 255, 0.87);
}

.topBar h1 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.content {
  padding: 2rem;
  min-height: 10rem;
}
